<% layout('layouts/boilerplate')%>
<div class="jumbotron jumbotron-fluid homeJumbo">
	<div class="overlay"></div>
	<div class="container align-items-center">
		<!-- <embed src="P1.home.pdf" width="800px" height="2100px" /> -->
	</div>
</div>
