<% layout('layouts/boilerplate')%>
<div class="jumbotron jumbotron-fluid adventureJumbo">
	<div class="overlay"></div>
	<div class="container align-items-center">
		<h1 class="display-4">Adventure Walks</h1>
	</div>
</div>
<div class="container">
	<div class="col-lg-6 col-sm-1 mt-5 col-centered">
		<p>
			Once a month we plan an adventure! If you are happy for your little
			ones to spend a bit longer away from home and out and about, we fill
			the car with snack and dogs and head off to explore the world
			outside of east London. Finding new parks, woodlands and coast lines
			to sniff and enjoy.
		</p>
		<p>
			This service is for our day care/boarders and group walker dogs at
			no extra charge!
		</p>
	</div>
</div>
