<% layout('layouts/boilerplate')%>
<div class="container mt-5">
	<a
		id="TTE-a7f842b8-925c-420a-9b4a-38bbffaa0c42"
		href="https://10to8.com/book/ecuegsiskcswvgslhx/"
		target="_blank"
		>See Online Booking Page</a
	>
</div>
<script src="https://d3saea0ftg7bjt.cloudfront.net/embed/js/embed.min.js"></script>
<script>
	window.TTE.init({
		targetDivId: "TTE-a7f842b8-925c-420a-9b4a-38bbffaa0c42",
		uuid: "a7f842b8-925c-420a-9b4a-38bbffaa0c42",
	});
</script>
