<% layout('layouts/boilerplate')%>
<div class="container bookings mt-5">
	<div class="mt-5 offset-1" style="margin-top: 100px">
		<a
			class="mt-5"
			id="TTE-a4c0d5d3-ad24-45f6-acb6-401569970ec4"
			href="https://10to8.com/book/sejqepftbdwngsnmzv/"
			target="_blank"
			>See Online Booking Page</a
		>
	</div>
	<script src="https://d3saea0ftg7bjt.cloudfront.net/embed/js/embed.min.js"></script>
	<script>
		window.TTE.init({
			targetDivId: "TTE-a4c0d5d3-ad24-45f6-acb6-401569970ec4",
			uuid: "a4c0d5d3-ad24-45f6-acb6-401569970ec4",
		});
	</script>
</div>
