<% layout('layouts/boilerplate')%>
<div class="jumbotron jumbotron-fluid galleryJumbo">
	<div class="overlay"></div>
	<div class="container align-items-center">
		<h1 class="display-4">GALLERY</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="one.jpg" alt="" />
		</div>
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="two.jpg" alt="" />
		</div>
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="three.jpeg" alt="" />
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="four.jpg" alt="" />
		</div>
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="five.jpeg" alt="" />
		</div>
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="six.jpeg" alt="" />
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="four.jpg" alt="" />
		</div>
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="five.jpeg" alt="" />
		</div>
		<div class="col-lg-4 col-sm-2 img-fluid">
			<img class="galleryImg" src="six.jpeg" alt="" />
		</div>
		<div class="row mt-4">
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="seven.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="nine.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="ten.jpeg" alt="" />
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="eleven.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twenve.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="thirteen.jpeg" alt="" />
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="fourteen.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="sixteen.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="seventeen.png" alt="" />
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="eighteen.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="nineteen.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twenty.jpeg" alt="" />
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twentyone.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twentytwo.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twentyfour.jpeg" alt="" />
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twentynine.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twentyseven.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twentyeight.jpeg" alt="" />
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twentyfive.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="twentysix.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="thirty.jpeg" alt="" />
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="thirtyone.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="thirtyfour.jpeg" alt="" />
			</div>
			<div class="col-lg-4 col-sm-2 img-fluid">
				<img class="galleryImg" src="thirtythree.jpeg" alt="" />
			</div>
		</div>
	</div>
</div>
