<% layout('layouts/boilerplate')%>
<div class="jumbotron jumbotron-fluid homeJumbo">
	<div class="overlay"></div>
	<div class="container align-items-center">
		<!-- <embed src="P1.home.pdf" width="800px" height="2100px" /> -->
	</div>
</div>
<!-- //////////////////////////////TEXT -->
<div class="container">
	<div class="col-lg-6 col-sm-1 mt-5 col-centered">
		<p>
			Little paws offers day-care, a range of walks and boarding
			exclusively for smaller breed dogs in East London. If you’re not
			sure if your pup will fit in with our gang, get in touch. We walk in
			the beautiful parks local to us and the day care is ran from our
			family home.
		</p>

		<br />
		<p>
			Once every month we do an adventure walk where we head out of East
			London to find new places to explore. We make sure that our walks
			are fun, treats are tasty, and cuddles are plentiful.
		</p>

		<br />
		<p>
			Follow our Facebook and Instagram pages to see what we get up to
			each week. All dog products we use are eco-friendly. We only use
			biodegradable poo bags and natural healthy treats. (Canine first aid
			trained, DSB checked and Insured)
		</p>
		<br />

		<br />

		<p class="strong">Areas we cover</p>
		<p>
			- Homerton, Hackney, Hackney Wick Bow, Bethnal Green, Fish Island,
			Startford and Lower Clapton (if you live close but not in one of
			these areas get in contact to see if we can cover)
		</p>
	</div>
</div>
<!-- //////////////////////////////////////  SCRIPTS -->
