<% layout('layouts/boilerplate')%>
<div class="jumbotron jumbotron-fluid homeJumbo">
	<div class="overlay"></div>
	<div class="container align-items-center">
		<!-- <embed src="P1.home.pdf" width="800px" height="2100px" /> -->
	</div>
</div>
<!-- //////////////////////////////TEXT -->
<div class="container">
	<div class="col-lg-6 col-sm-1 mt-5 col-centered">
		<p>
			Little paws offers daycare and a range of walkers exclusively for
			toy and smaller breed dogs in east London. If you’re not sure if
			your pup will fit in with our gang get in touch. We walk in the
			beautiful parks local to us and surrounding areas and the day care
			is ran from our family home. Once every month we do an adventure
			walk where we head out of East London to find new places to explore.
		</p>

		<br />
		<p>
			We make sure that our walks are fun, treats are tasty and cuddles
			and plentiful.
		</p>

		<br />
		<p>
			You can follow our fb and Insta page to see what your pups are up to
			when we are out and about as well as receiving regular update.
		</p>
		<br />
		<p>
			All dog products were use are eco friendly. We only use completely
			bio degradable poo bags and natural healthy treats. If you’d prefer
			us to use your own just let us know.
		</p>
		<br />

		<p class="strong">Areas we cover</p>
		<p>
			- Homerton, Hackney, Hackney Wick Bow, Bethnal Green, Fish Island,
			Startford and Lower Clapton (if you live close but not in one of
			these areas get in contact to see if we can cover)
		</p>
	</div>
</div>
<!-- //////////////////////////////////////  SCRIPTS -->
