<% layout('layouts/boilerplate')%>
<div class="jumbotron jumbotron-fluid aboutJumbo">
	<div class="overlay"></div>
	<div class="container align-items-center">
		<h1 class="display-4">MEET THE TEAM</h1>
	</div>
</div>
<!-- //////////////////////////////TEXT -->
<div class="container">
	<div class="row">
		<div class="col-6 mt-5">
			<p>
				Hi I’m Lottie the founder of little paws a dog professional
				specialising in small breeds. With over 10 years’ experience
				working with dogs. For all my life I have been surrounded by
				animals, form horses to hamsters and pretty much everything you
				can think of in between. My family have owned large breed dogs
				all my life but my love for the small breeds started when got my
				own dog, Norma Jean a little rescue Papillon x when I was 17
				years old. Norma Jean was a challenge to say the least and it
				that’s were my interested and career in dog training began.
			</p>

			<p>
				I started working as an Assistant Obedience’s Instructor at Dig
				it Dog’s, training Kennel Club Good Citizen Puppy level to Gold
				standard. Also training both my dog to Gold level competing in
				fly ball in high level agility. I then moved to Acorn Kennels
				working with stray an addended dogs and worked with dog with all
				sorts of issue from deaf, blind, fear aggression, reactivity
				with people and dogs and resources guarding. After Acorn Kennels
				I started working for Cheshire East Council in the Animal
				Welfare department focusing on a range of canine welfare cases.
				I moved to London in November 2020 and have since been doing dog
				walking and day care.
			</p>
			<p>
				Cash is the resident dog and face of Little Paws, a 6-year-old
				jack Russell that will be helping to take care of everyone,
				making them feel welcome and always on hand to play tuggy
				whenever required. Cash and I also live with Matt my partner an
				equal dog lover and Schmidty the lazy cat.
			</p>
		</div>
		<div class="col-5 mt-5offset-1">
			<div class="lottieContainer offset-3"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-8 mt-5">
			<p>
				When working at the rescue kennels, I dealt with dogs of all
				shapes and sizes but always made the strongest contention with
				the smaller breeds, understanding how they think and react to
				different types body language and situations. I have worked with
				dogs with all sorts of issue such as fear, aggression,
				reactivity and resources guarding.
			</p>
			<p>
				Cash is the resident dog, a 6 year old Jack Russell that will be
				helping to take care of everyone, making them feel welcome and
				always on hand to play tuggy whenever required. Cash and I also
				live with my partner Matt - an equal dog lover that gives
				excellent cuddles and Schmidty, the lazy cat.
			</p>
		</div>
	</div>
</div>
