<% layout('layouts/boilerplate')%>
<div class="jumbotron jumbotron-fluid aboutJumbo">
	<div class="overlay"></div>
	<div class="container align-items-center">
		<h1 class="display-4">MEET THE TEAM</h1>
	</div>
</div>
<!-- //////////////////////////////TEXT -->
<div class="container">
	<div class="row">
		<div class="col-6 mt-5">
			<p>
				Hi! I’m Lottie, the founder of Little Paws - a dog professional
				specialising in small breeds. With over 10 years experience
				working with dogs, I have worked in a range of different roles
				from rescue kennels, dog training, dog walking and daycare (plus
				a few others!).
			</p>

			<p>
				For all my life I have been surrounded by animals, horses to
				hamsters and pretty much everything you can think of in between.
				My family have owned large breed dogs all my life but my love
				for the small breeds started when when got my own dog Norma
				Jean, a rescue little Papillon when I was 17 years old. Norma
				Jean was a challenge to say the least and it that’s where my
				interest and career in dog training began.
			</p>
		</div>
		<div class="col-5 mt-5offset-1">
			<div class="lottieContainer offset-3"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-8 mt-5">
			<p>
				When working at the rescue kennels, I dealt with dogs of all
				shapes and sizes but always made the strongest contention with
				the smaller breeds, understanding how they think and react to
				different types body language and situations. I have worked with
				dogs with all sorts of issue such as fear, aggression,
				reactivity and resources guarding.
			</p>
			<p>
				Cash is the resident dog, a 6 year old Jack Russell that will be
				helping to take care of everyone, making them feel welcome and
				always on hand to play tuggy whenever required. Cash and I also
				live with my partner Matt - an equal dog lover that gives
				excellent cuddles and Schmidty, the lazy cat.
			</p>
		</div>
	</div>
</div>
