<% layout('layouts/boilerplate')%>
<div class="jumbotron jumbotron-fluid servicesJumbo">
	<div class="overlay"></div>
	<div class="container align-items-center">
		<h1 class="display-4">SERVICES</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-4 mt-5">
			<h5>DAYCARE</h5>
			<p class="mt-4">
				£30 a day (Second dog £15 if they are from the same home)
			</p>

			<p>
				Daycare collection is between 9-10am and drop off between 4-5pm
			</p>
		</div>
		<div class="col-8 mt-5">
			<p>
				Daycare is ran from our home. Numbers are kept low to make sure
				that there is enough sofa room and snuggle time to go round. Our
				day care is aimed at dogs that enjoy relaxing as well as fun and
				are looking for a home from home. While dogs are with us they
				are treated as part of the family by us and resident doggo Cash.
				Our highest priority is that they feel safe, happy and
				comfortable in home. All dogs will be walked for at least 1 hour
				in the morning (normally longer) and then taken on a shorter
				walk in the afternoon. In the summer on days that are to hot the
				doggo pool comes out in the garden for everyone to have a splash
				and in to cool down.
			</p>
		</div>
	</div>

	<div class="col-4 mt-5">
		<h5>WALKS</h5>
	</div>
	<div class="row">
		<div class="col-4 mt-5">
			<h5>Group Walks</h5>
			<p>£15 (Second dog £10 if they are from the same home)</p>
		</div>
		<div class="col-8 mt-5">
			<p>
				Walks are 60 to 90 mins - around 2 1/2hrs in total including
				pick up and drop off. Pick up by 10am drop off by 1pm latest.
				Max 4 dogs per walk. These are fun walks in local park. These
				can be on or off lead. Dogs do need to be fit, social and have a
				good re-call if they are off lead.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-4 mt-5">
			<h5>1hr Solo Walk</h5>
			<p>
				£25 - Afternoons only (this hour includes pick up and drop off)
			</p>
		</div>
		<div class="col-8 mt-5">
			<p>
				These walks are perfect for dogs that prefer there own space.
				Dog that need to be kept on a lead wether that be due to lack of
				recall or if they can be reactive. Can be on or off lead and
				longline option is available.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-4 mt-5">
			<h5>30min solo</h5>
			<p>£15 - Afternoons only (including pick up and drop off)</p>
		</div>
		<div class="col-8 mt-5">
			<p>
				These walks are great for very young or older dogs that just
				don’t need to be out as long or if you’re just looking for a
				shorter afternoon walk.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-4 mt-5">
			<h5>Adventure walkers</h5>
			<p>
				These are for daycare and group walkers only at no extra charge
			</p>
		</div>
		<div class="col-8 mt-5">
			<p>
				Once a month if you are happy for your little ones to spend a
				bit longer away and out and about then we fill the car with
				snack and dogs and head off to explore outside of East London.
				Finding new parks, woodlands and coast lines to enjoy.
			</p>
		</div>
	</div>
	<div class="row mt-5 offset-4">
		<small class="mt-5"
			>*** Collection and drops offs will primarily be done on foot ***
		</small>
	</div>
</div>
