@font-face {
	font-family: "Bukhari-Script";
	src: url("Bukhari-Script.eot");
	src: url("Bukhari-Script.ttf") format("embedded-opentype"),
		url("Bukhari-Scri	pt.ttf") format("woff"),
		url("fonts/Bukhari-Script.ttf") format("truetype"),
		url("fonts/Bukhari-Script.svg#Bukhari Script") format("svg");
	font-weight: normal;
	font-style: normal;
}
i {
	color: rgb(13, 175, 167);
	font-size: 80px;
	padding: 20px;
}
.jumbotron {
	height: 700px;
	background-size: cover;
	background-attachment: fixed;
	background-position: 20% 40%;
	/* backdrop-filter: brightness(70%); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.homelogo {
	height: 200px;
	position: absolute;
	top: -40px;
	left: -40px;
}
body {
	font-family: "Roboto", sans-serif;
}
.strong {
	font-weight: bold;
}
.lottieContainer {
	width: 400px;
	height: 500px;
	background-image: url("lottie.jpeg");
	background-size: cover;
}
.homeJumbo {
	background-image: url("home.svg");
}
.aboutJumbo {
	background-image: url("P2.meet-the-team.jpg.jpg");
}
.servicesJumbo {
	background-image: url("P3.services.jpg");
}
.galleryJumbo {
	background-image: url("gallery.jpeg");
}
.testimonialsJumbo {
	background-image: url("gallery.jpeg");
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.card {
	border: none;
	box-shadow: 0 4px 25px 10px rgba(0, 0, 0, 0.1);
}
.cardImg {
	height: 400px;
	padding: 20px;
}
.mainServ {
	padding: 20px;
}
.galleryImg {
	height: 500px;
	width: 500px;
	object-fit: cover;
}
.display-4 {
	position: relative;
	letter-spacing: 8px;
	font-size: 150px;
	font-family: "Bukhari-Script";
	z-index: 999;
	text-align: center;
	color: white;
	text-shadow: 6px 4px black;
	transition: 2s;
}
.navbar {
	background-color: rgba(84, 187, 173, 0) !important;
	font-family: "Luckiest Guy", cursive;
	color: white;
	letter-spacing: 2.5px;
}
.nav-link {
	border-radius: 15px;
	padding: 10px 10px 15px 15px !important;
	background-color: rgba(0, 0, 0, 0.425);
	color: white !important;
}
.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	/* background: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.007)); */
	z-index: 999;
	animation: move 9s linear infinite;
}
p {
	color: rgba(0, 0, 0, 0.795);
}
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
body {
	font-family: Rubik, sans-serif;
	position: relative;
	font-weight: 400;
	font-size: 15px;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
.serviceList {
	list-style: circle;
}
a:focus,
a:hover {
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
a:focus {
	outline: 0;
}
img {
	max-width: 100%;
}
p {
	font-size: 16px;
	line-height: 30px;
	color: #898b96;
	font-weight: 300;
}
h4 {
	font-family: Rubik, sans-serif;
	margin: 0;
	font-weight: 400;
	padding: 0;
	color: #363940;
}
a {
	color: #5867dd;
}
.no-padding {
	padding: 0 !important;
}
.go_top {
	line-height: 40px;
	cursor: pointer;
	width: 40px;
	background: #5867dd;
	color: #fff;
	position: fixed;
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	right: -webkit-calc((100% - 1140px)/ 2);
	right: calc((100% - 1140px) / 2);
	z-index: 111;
	bottom: 80px;
	text-align: center;
}
.go_top span {
	display: inline-block;
}
.footer-big {
	padding: 105px 0 65px 0;
}
.footer-big .footer-widget {
	margin-bottom: 40px;
}
.footer--light {
	background: #e7e8ed;
}
.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
	color: #898b96;
}
.footer-menu {
	padding-left: 48px;
}
.footer-menu ul li a {
	font-size: 15px;
	line-height: 32px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.footer-menu ul li a:hover {
	color: #5867dd;
}
.footer-menu--1 {
	width: 100%;
}
.footer-widget-title {
	line-height: 42px;
	margin-bottom: 10px;
	font-size: 18px;
}
.mini-footer {
	background: #192027;
	text-align: center;
	padding: 32px 0;
}
.mini-footer p {
	margin: 0;
	line-height: 26px;
	font-size: 15px;
	color: #999;
}
.mini-footer p a {
	color: #5867dd;
}
.mini-footer p a:hover {
	color: #34bfa3;
}
.widget-about img {
	display: block;
	margin-bottom: 30px;
}
.widget-about p {
	font-weight: 400;
}
.widget-about .contact-details {
	margin: 30px 0 0 0;
}
.widget-about .contact-details li {
	margin-bottom: 10px;
}
.widget-about .contact-details li:last-child {
	margin-bottom: 0;
}
.widget-about .contact-details li span {
	padding-right: 12px;
}
.widget-about .contact-details li a {
	color: #5867dd;
}
.select-service_groupName__2J9qn {
	margin-top: 500px !important;
}
@media (max-width: 991px) {
	body {
		overflow-x: hidden;
	}
	.display-4 {
		font-size: 20px;
	}
	.footer-menu {
		padding-left: 0;
	}
	.jumbotron {
		background-size: cover;
	}
	.img-fluid {
		position: relative;
		margin-top: 20px;
	}
}
